<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <button type="button"><a href="http://users">Users</a></button>
    <button type="button"><a href="http://users">Books</a></button>
    <button type="button"><a href="http://users">Authors</a></button>
    <button type="button"><a href="http://users">Categories</a></button>
    <button type="button"><a href="http://users">Genres</a></button>
</body>
</html>