<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home page</title>
</head>
<body class="container">
    <h1 class="title">Home</h1>
    <section class="wrapper">
        <div class="buttonsBlock">
            <button class="registrationButton button"><a href="./register.html">Registration</a></button>
            <button class="loginButton button"><a href="./login.html">Login</a></button>
            <button class="categoriesButton button">Categories</button>
            <button class="genresButton button">Genres</button>
            <button class="booksButton button">Books</button>
            <button class="authorsButton button">Authors</button>
            <button class="usersButton button">Users</button>
        </div>
        <div class="dataBlock">
        </div>
    </section>
    <script src="../public/scripts/main.js"></script>
</body>
</html>