p{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    width: 300px;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-content: center;
    gap: 2rem;
}

.buttonsBlock, .dataBlock{
    display: flex;
    background-color: rgb(238, 243, 243);
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.7rem;
}

.actionButtonBlock{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 0.7rem;
}


.card{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 243, 243);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    gap: 0.3rem;
}

.list{
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 233, 233);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    gap: 0.3rem;
}

.name{
    font-size: 1.3rem;
    font-weight: bold;
}

.author{
    font-size: 1.1rem;
    font-style: italic;
    font-weight: bold;
}

.price{
    font-size: 1.1rem;
    font-weight: bold;
}